# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
new_venv/

# Ignore Streamlit cache
.streamlit/

# Ignore logs & temporary files
logs/
*.log
